<mat-card>
  <form [formGroup]="formulario" (ngSubmit)="add()">
    <div fxLayout="row">
      <div fxFlexAlign="start">
        <button mat-icon-button type="submit" routerLink="/home">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <span class="spacer"></span>
      <div fxFlexAlign="end">
        <button mat-icon-button type="submit" [disabled]="formulario.invalid">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>

    <br>

    <div fxLayout="column" fxLayoutAlign="center">

      <mat-radio-group [(ngModel)]="doador.tipo" formControlName="tipo" name="tipo" id="tipo">
        <mat-radio-button (change)="onDocumentoChange()" fxFlexOffset="7px" *ngFor="let tipo of ['Física', 'Jurídica']" [value]="tipo" class="radio-button">
          {{tipo}}
        </mat-radio-button>
      </mat-radio-group>
      <br>

      <mat-form-field>
        <input matInput [(ngModel)]="doador.nome" placeholder="{{doador.tipo == 'Física' ? 'Nome*' : 'Razão Social*'}}" formControlName="nome" name="nome">
      </mat-form-field>
      <mat-error *ngIf="formulario.controls.nome.hasError('required') && (formulario.controls.nome.touched)">
        {{ doador.tipo == 'Física' ? 'Nome obrigatório' : 'Razão Social obrigatória' }}
      </mat-error>
      <br>

      <mat-form-field>
        <input matInput [textMask]="{mask: mask}" [(ngModel)]="doador.documento" placeholder="{{doador.tipo == 'Física' ? 'CPF*' : 'CNPJ*'}}" formControlName="documento" name="documento">
      </mat-form-field>
      <mat-error *ngIf="formulario.controls.documento.hasError('required') && (formulario.controls.documento.touched)">
        {{ doador.tipo == 'Física' ? 'CPF obrigatório' : 'CNPJ obrigatório' }}
      </mat-error>
      <br>

      <mat-form-field>
        <input matInput [(ngModel)]="doador.endereco" placeholder="endereco" formControlName="endereco" name="endereco">
      </mat-form-field>
      <br>

      <mat-form-field>
        <input matInput [(ngModel)]="doador.bairro" placeholder="bairro" formControlName="bairro" name="bairro">
      </mat-form-field>
      <br>

      <mat-form-field>
        <input matInput [(ngModel)]="doador.cep" placeholder="cep" formControlName="cep" name="cep">
      </mat-form-field>
      <br>

      <mat-form-field>
        <input matInput [(ngModel)]="doador.telefone" placeholder="telefone" formControlName="telefone" name="telefone">
      </mat-form-field>
      <br>

      <mat-form-field>
        <input matInput [(ngModel)]="doador.email" placeholder="email" formControlName="email" name="email">
      </mat-form-field>
      <br>

    </div>
  </form>
</mat-card>