<div fxFlex="250px" fxLayout="column">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Voluntarios</strong>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <a mat-button fxFlex="200px" routerLink="/voluntarios">Pesquisar</a>
      </div>
      <div>
        <a mat-button fxFlex="200px" routerLink="/voluntario/cadastro">Cadastrar</a>
      </div>
    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Beneficiários</strong>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <a mat-button fxFlex="200px" routerLink="/beneficiarios">Pesquisar</a>
      </div>
      <div>
        <a mat-button fxFlex="200px" routerLink="/beneficiario/cadastro">Cadastrar</a>
      </div>
    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Doadores</strong>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <a mat-button fxFlex="200px" routerLink="/doadores">Pesquisar</a>
      </div>
      <div>
        <a mat-button fxFlex="200px" routerLink="/doador/cadastro">Cadastrar</a>
      </div>
    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Projetos</strong>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <a mat-button fxFlex="200px" routerLink="/projetos">Pesquisar</a>
      </div>
      <div>
        <a mat-button fxFlex="200px" routerLink="/projeto/cadastro">Cadastrar</a>
      </div>
    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Doações</strong>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <a mat-button fxFlex="200px" routerLink="/doacoes">Pesquisar</a>
      </div>
      <div>
        <a mat-button fxFlex="200px" routerLink="/doacao/cadastro">Cadastrar</a>
      </div>
    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Relatórios</strong>
          </mat-panel-title>
          <mat-panel-description>
  
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <a mat-button fxFlex="200px" routerLink="/relatorios/familiares">familiares</a>
        </div>
      </mat-expansion-panel>
  
      <mat-divider></mat-divider>

  </mat-accordion>
</div>