<br>

<div>
  <h3>Associados</h3>

  <div style="display: flex">
    <mat-form-field>
      <input matInput (keyup)="applyFilterAssociados($event.target.value)" placeholder="Filtro">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSourceBeneficiariosAssociados" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CPF </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cpf}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="associar_desassociar">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Desassociar </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button type="submit" (click)="desassociar(row, $event)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<br>
<div>
    <h3>Desassociados</h3>
    <div style="display: flex">
      <mat-form-field>
        <input matInput (keyup)="applyFilterNaoAssociados($event.target.value)" placeholder="Filtro">
      </mat-form-field>
    </div>
  
    <mat-table [dataSource]="dataSourceBeneficiariosNaoAssociados" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="cpf">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CPF </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cpf}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="associar_desassociar">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Associar </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button type="submit" (click)="associar(row, $event)">
            <mat-icon>check</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  
  </div>