<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="start" class="cards">
  <mat-card fxFlex="25%">
    <mat-card-header>
      <mat-card-title>Projetos</mat-card-title>
      <mat-card-subtitle>Distribuição de Sopas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/distribuicao-sopas.jpg">
    <mat-card-content>
      <p>
        Descrição
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="25%">
    <mat-card-header>
      <mat-card-title>Projetos</mat-card-title>
      <mat-card-subtitle>Doação de Brinquedos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/doacao-brinquedos.jpg">
    <mat-card-content>
      <p>
        Descrição
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="25%">
    <mat-card-header>
      <mat-card-title>Projetos</mat-card-title>
      <mat-card-subtitle>Cuidados aos idosos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/cuidados-idosos.jpg">
    <mat-card-content>
      <p>
        Descrição
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="25%">
    <mat-card-header>
      <mat-card-title>Campanhas</mat-card-title>
      <mat-card-subtitle>Doação de Alimentos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/doacao-alimentos.jpg">
    <mat-card-content>
      <p>
        Descrição
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>